html {
    font-family: Arial, serif;
    background-color: #ffffff;
    color: #000000;
}
h1 {
    text-align: center;
}
.information_box {
    border: 8px solid transparent;
    display: inline-block;
    padding: 10px;
    background: url("../images/backgroundinfobox.png") no-repeat;
    border-image: url("../images/borderinfobox.png") 16;
    background-size: 100% 100%;
    color: #000000;
}